@charset "utf-8";
/* CSS Document */
/* -------------------common css -------------------------------*/
*{ margin:0; padding:0; font-family:Myriad Pro;}
.clear{ clear:both;}
.fl{ float:left;}
.fr{ float:right;}
img{ border:none;}
a{ text-decoration:none;}
a:hover{ text-decoration:underline;}
li{ list-style-type:none;}
.ofh{overflow:hidden;}
.center{text-align:center}
.tl{ text-align:left;}
.tr{ text-align:right;}
.pt20{ padding-top:20px;}
.pt30{ padding-top:30px;}
.m10{ margin:10px;}
.em{ text-indent:2em;}
body{ background:url(../images/bj.jpg) top center fixed no-repeat;}
.con{ width:1200px; height:auto; overflow:hidden; min-height:500px; margin:auto; background:url(../images/bj.png) top center repeat;}


/*-------------head--------------*/
.head{ width:1200px; height:60px; padding-top:10px; margin:auto;}
.logo{  float:left;}
/*-------------nav--------------*/
.nav{ width:800px; height:50px; margin-top:10px; margin-left:10px; float:left;  }
.nav ul{ padding-left:30px;}
.nav li{ float:left; padding:0px 15px;}
.nav li a{font-size:24px; color:#333; line-height:50px; }
.nav  li a:hover{ color:#800; text-decoration:none;}

.main{width:1200px; height:auto; min-height:500px;  margin:auto; padding-bottom:30px;}
.left{ width:200px; height:auto; float:left; margin-left:20px;}
.l1{ margin-top:50px; width:170px; height:166px; border:5px solid #ccc;}
.l1 img{width:170px; height:166px;}
.search{ width:160px; height:45px; margin-top:30px; background:url(../images/search.png) top center no-repeat;}
.s_input{ width:110px; height:25px; margin-left:40px; margin-top:5px; background:none; border:none; font-size:16px; color:#666;}
.left_nav{width:160px; height:auto; margin-top:10px; }
.left_nav ul{ }
.left_nav li a{font-size:16px; color:#a3a2a2; line-height:26px;font-family:黑体;}
.left_nav li span{ float:right;}
.left_nav li span a{ ont-size:16px; color:#e1a6ad; line-height:26px; text-decoration:underline;}
.left_contact{ width:160px; height:auto; float:left;  margin-top:120px;}
.left_contact ul{ }
.left_contact li{}
.left_contact h2{ font-size:20px; color:#a3a2a2; line-height:36px; font-family:Myriad Pro;}
.left_contact li a{ font-size:16px; color:#a3a2a2; line-height:20px; font-family:Myriad Pro;}


.right{width:920px; height:auto; float:left; margin-left:20px;}
.dm{ width:900px; height:380px; padding-top:50px;}
.right_nav{ width:880px; height:auto; float:left; margin-left:40px; margin-top:30px;}
.right_nav p{font-size:14px; text-indent:2em;color:#555; line-height:26px;font-family:Myriad Pro}
.right_nav ul{ }
.right_nav li{ background:url(../images/d1.png) left top  no-repeat; padding-left:20px;}
.right_nav h2{ font-size:22px; color:#333; line-height:44px;font-family:Myriad Pro;}
.right_nav li a{ font-size:22px; color:#a3a2a2; text-decoration:underline; line-height:26px; font-family:Myriad Pro;}
.right_nav li a:hover{ font-size:22px; color:#800;}


.Gallery_nav{ width:880px; height:auto; float:left; margin-left:40px; margin-top:30px;}
.Gallery_nav h2{font-size:50px; color:#555; line-height:80px;font-family:Myriad Pro;}
.Gallery_nav ul{ }
.Gallery_nav li{ float:left; margin:10px;}
.Gallery_nav li img{ width:200px; height:150px;}


.right_des{width:800px; height:auto; float:left; margin-left:40px; margin-top:30px;}
.right_des h1{ font-size:22px; text-indent:1em;color:#333; line-height:56px;font-family:Myriad Pro;}
.right_des p{ font-size:14px; text-indent:2em;color:#555; line-height:26px;font-family:Myriad Pro;}


.pinlun{width:880px; height:auto; margin:auto; margin-top:40px;background:url(../images/lanbj.png) top repeat-x;padding-bottom:20px;}
.pinlun_t{width:880px; height:30px; margin:auto; padding:10px; padding-left:0px; border-bottom:3px solid #dc1010; color:#3e3e3e; font-size:24px;font-family:Microsoft YaHei;}
.pinlun_fabiao{width:800px; height:auto; margin:auto; padding:5px; }
.pinlun_fabiao_l{ color:#3e3e3e; font-size:24px;font-family:Microsoft YaHei; float:left;}
.pinlun_fabiao_r{padding:5px;  color:#555; font-size:14px; text-align:right;}

.pinlun_fabiao_fain{width:800px; height:360px; margin:5px auto; padding:10px; border:1px solid #ccc; font-size:14px; color:#999;}

.p_input{ width:150px; height:15px;padding:3px; font-size:14px; color:#999; float:left; margin:5px; }

.pinlun_fabiao_login{ margin-top:30px;}

.pl5{ padding-left:15px;}
.pt5{ padding-top:5px;}




.foot{width:1180px; height:50px; margin:auto; padding:10px; background:#999; background-color:rgba(50,50,50,0.2); font-size:14px; color:#fff; line-height:26px; text-align:center;}







